:root {
    box-sizing: border-box;
    --ash: #B4B8AB;
    --deep-blue: #153243;
    --yale-blue: #284B63;
    --linen: #EEF0EB;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    margin: 0;
    background-color: var(--linen);
}

body h1 {
    z-index: 2;
    color: var(--deep-blue);
}

body h2 {
    margin: 5px;
    height: 30px;
    color: var(--deep-blue);
}

/* Splash Screen Styling */

.splash-screen {
    height: 90%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    margin: 0;
    position: absolute;
    z-index: 1;
}

.splash-screen .button-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.splash-screen button {
    margin: 15px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: var(--deep-blue);
    color: var(--linen);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.splash-screen form {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-screen label {
    font-size: 16px;
    font-weight: bold;
    color: var(--deep-blue);
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
}

.splash-screen input {
    padding: 10px 20px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    color: var(--deep-blue);
    text-align: center;
}

.splash-screen input.invalid{
    outline: 3px solid darkred;
}

.splash-screen input:not(.invalid):focus,
.splash-screen input:not(.invalid):focus-visible {
    outline: 3px solid var(--deep-blue);
}



/* Board styling */

.board-container {
    display: grid;
    height: 600px;
    width: 600px;
    gap: 10px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.board-cell {
    border: 2px solid black;   
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 60px;
    cursor: pointer;
}

.board-cell.game-end {
    cursor: auto;
}